<div class="form-container">
  <h2>{{ titulo }}</h2>

  <form [formGroup]="form" (ngSubmit)="registrar()">

    <!-- Título -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Título</mat-label>
      <input matInput placeholder="Ingrese el título" formControlName="titulo">
      <mat-error *ngIf="form.get('titulo')?.hasError('required')">
        Este campo es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Descripción -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Descripción</mat-label>
      <textarea matInput placeholder="Ingrese la descripción" rows="4" formControlName="descripcion"></textarea>
      <mat-error *ngIf="form.get('descripcion')?.hasError('required')">
        Campo obligatorio. Máx 100 palabras.
      </mat-error>
    </mat-form-field>

    <!-- Objetivo -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Objetivo (kg)</mat-label>
      <input matInput type="number" placeholder="Ej. 100" formControlName="objetivoKg">
      <mat-error *ngIf="form.get('objetivoKg')?.hasError('required')">
        Campo obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Fecha Inicio -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Fecha Inicio</mat-label>
      <input matInput [matDatepicker]="pickerInicio" formControlName="fechaInicio">
      <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
      <mat-datepicker #pickerInicio startView="month"></mat-datepicker>
      <mat-error *ngIf="form.get('fechaInicio')?.hasError('required')">
        Campo obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Fecha Fin -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Fecha Fin</mat-label>
      <input matInput [matDatepicker]="pickerFin" formControlName="fechaFin">
      <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
      <mat-datepicker #pickerFin startView="month"></mat-datepicker>
      <mat-error *ngIf="form.get('fechaFin')?.hasError('required')">
        Campo obligatorio
      </mat-error>
    </mat-form-field>

    <div class="acciones">
      <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
        {{ modoEdicion ? 'Guardar' : 'Registrar' }}
      </button>
      <button mat-button color="warn" type="button" (click)="cancelar()">
        Cancelar
      </button>
    </div>

  </form>
</div>
