.form-container {
  width: 60%;
  margin: 30px auto;
  background-color: #f5f5f5;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.15);
}

h2 {
  text-align: center;
  color: #1b5e20;
  margin-bottom: 20px;
}

input, textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 15px;
}

.error { border-color: red; }
.error-msg { color: red; font-size: 12px; margin-bottom: 10px; }

.acciones {
  text-align: center;
  margin-top: 20px;
}

.btn-guardar {
  background-color: #828282;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  margin-right: 10px;
  cursor: pointer;
}

.btn-cancelar {
  background-color: #325a1f;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.btn-guardar:hover { background-color: #0b7dda; }
.btn-cancelar:hover { background-color: #d32f2f; }