<div class="form-container">
  <h2>{{ titulo }}</h2>
  <form [formGroup]="form" (ngSubmit)="guardar()">

    <label>ID Usuario</label>
    <input type="number" formControlName="idUsuario">
    <div *ngIf="form.controls['idUsuario'].invalid && form.controls['idUsuario'].touched" class="error-msg">
      Este campo es obligatorio
    </div>

    <label>ID Evento</label>
    <input type="number" formControlName="idEvento">
    <div *ngIf="form.controls['idEvento'].invalid && form.controls['idEvento'].touched" class="error-msg">
      Este campo es obligatorio
    </div>

    <div class="acciones">
      <button type="submit" class="btn-guardar">{{ modoEdicion ? 'Modificar' : 'Guardar' }}</button>
      <button type="button" class="btn-cancelar" (click)="cancelar()">Cancelar</button>
    </div>
  </form>
</div>