
.contenedor {
    width: 90%;
    margin: 25px auto;
}
  

.title-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    margin-bottom: 20px;
    background: #e8f5e9;
    border-left: 6px solid #2e7d32;
}


.table-container {
    border-radius: 8px;
    overflow: hidden;
}


table {
    width: 100%;
}

th.mat-header-cell {
    background-color: #f5f5f5;
    font-weight: bold;
    color: #2e7d32; /* Verde corporativo */
    font-size: 15px;
}


td.mat-cell {
    padding: 12px 8px;
}


tr.mat-row:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}